<footer class="footer parallax-container" data-scroll-section>
  <div class="c-btn__anchor">
    <button type="button" id="js-scrollTop"><span class="sr-only">ページ最上部へスクロールする</span></button>
  </div>
  <p class="footer-copyright">&copy; 2021 Hayato Kamiyama</p>
</footer>
