<div class="top-kv parallax-container" id="js-topKv" data-scroll-section>
  <div class="kv-animation js-scrollAnime" id="js-topKvAnimation">
    <!-- スクロール誘導テキスト（PC用） -->
		<div class="kv-scroll-vertical --pc js-scrollerPc1">scroll</div>
  </div>
  <h1 class="kv-title js-titleAnime">
    <div class="kv-title__text c-show-box js-showBox">
      <span class="c-show-box__inner">
        HAYATO KAMIYAMA
      </span>
    </div>
    <div class="kv-title__text c-show-box js-showBox">
      <span class="c-show-box__inner">
        PORTLOFIO SITE
      </span>
    </div>
    <div class="kv-scroll-vertical js-scrollVertical">scroll</div>
  </h1>

</div>
