@use "../global" as *;

// .drawer {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 0;
//   z-index: z-index(drawer-and-modal);
//   width: 100%;
//   height: -webkit-fill-available; //for safari
//   min-height: 100vh;
//   overflow-x: hidden;
// }

// .drawer__backdrop {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
// }

// .drawer__nav {
//   position: absolute;
//   top: 0;
//   right: 0;
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   height: 100%;
//   overflow: auto;
//   background-color: $colorMint;
// }

// .drawer__nav__header{
//   position: relative;
//   display: flex;
//   align-items: flex-start;
//   justify-content: flex-end;
//   width: 100%;
//   padding: vw(20);
//   @include mq(md) {
//     padding:30px;
//   }
// }

// .drawer[aria-expanded] {
//   transition-duration: 0.25s;
//   transition-property: visibility;
// }

// .drawer[aria-expanded] .drawer__backdrop {
//   transition-timing-function: $easeInOutCirc;
//   transition-duration: 0.25s;
//   transition-property: opacity;
// }

// .drawer[aria-expanded] .drawer__nav {
//   transition-timing-function: $easeInOutCirc;
//   transition-duration: 0.25s;
//   // transition-property: transform;
//   transition-property: opacity;
// }

// // ----------------------------------------
// // 開いているとき
// // ----------------------------------------
// .drawer[aria-expanded="true"] {
//   min-height: 100%;
//   overflow-y: hidden;
//   visibility: visible;

//   body & {
//     overflow-y: hidden;
//   }
// }

// .drawer[aria-expanded="true"] .drawer__backdrop {
//   opacity: 1;
// }

// .drawer[aria-expanded="true"] .drawer__nav {
//   overflow-y: hidden;
//   // transform: translateX(0);
//   opacity: 1;
// }

// // ----------------------------------------
// // 閉じているとき
// // ----------------------------------------
// .drawer[aria-expanded="false"] {
//   visibility: hidden;
// }

// .drawer[aria-expanded="false"] .drawer__backdrop {
//   opacity: 0;
// }

// .drawer[aria-expanded="false"] .drawer__nav {
//   // transform: translateX(100%);
//   opacity: 0;
// }

// .drawer-close {
//   position: relative;
//   width: vw(65);
//   height: vw(60);
//   @include mq(md) {
//     width:65px;
//     height:14px;
//   }
//   button {
//     width: 100%;
//     height: 100%;
//     padding: 0;
//     cursor: pointer;
//   }
// }

// .hamburger-line-close {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 2px;
//   margin: auto;
//   background-color: white;
//   transform: rotate(45deg);

//   @include mq(md) {
//     top: 0;
//     width: 65px;
//     height: 2px;
//   }
//   &::before {
//     position: absolute;
//     top: 0;
//     display: block;
//     width: 100%;
//     height: 100%;
//     content: "";
//     background-color: inherit;
//     transition: inherit; transform: rotate(-90deg);
//     @include mq(md) {
//       top: 0;
//     }
//   }
// }
// .drawer__nav__content{
//   position: absolute;
//   top: 47.5%;
//   left: 50%;
//   width: vw(568);
//   // max-width: 517px;
//   transform: translate(-50%,-50%);
//   @include mq(md) {
//     width: 517px;
//   }
// }
// .drawer__nav-items{
//   width: vw(470);
//   max-width: 420px;
//   margin-right:auto;
//   margin-left:auto;
// }

// .drawer__nav-item {
//   font-size: vw(22);
//   color: white;
//   white-space: nowrap;
//   @include gotham;
//   @include mq(md) {
//     font-size: 20px;
//   }
//   & + .drawer__nav-item{
//     margin-top: vw(60);
//     @include mq(md) {
//     margin-top: 50px;
//     }
//   }
//   .en{
//     font-size: vw(40);
//     letter-spacing: 0.1em;
//     vertical-align: middle;
//     @include mq(md) {
//       font-size:36px ;
//     }
//   }
// }

.c-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh; /* for safari fallback*/
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: #e0add5;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  .hamburger-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    &__line {
      width: 100%;
      height: 2px;
      background-color: black;
      display: block;
      position: relative;
      transform: rotate(45deg);
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        transform: rotate(-90deg);
        background-color: black;
      }
    }
  }
  .drawer-nav-items {
    overflow: hidden;
  }
  .drawer-nav-item {
    @include gotham;
    font-size: 40px;
    width: 100%;
    background-color: gray;
    & + .drawer-nav-item {
      margin-top: 40px;
    }
    a {
      display: block;
    }
  }
}
