<main class="main parallax-container" data-scroll-section>
  <div class="p-contact-kv">
    <section class="p-contact-kv__heading">
      <h1 class="p-contact-kv__heading__title js-startLoaded">
        お仕事のご相談から個人的なお話まで、気軽に入力してポチッとお問合せください。
      </h1>
    </section>
  </div>
</main>
