$colorBlack:#202020 !default;
$colorWhite:#fff !default;
$colorSky:#58bee4 !default;
$colorLightBlue:#e4f3f9 !default;
$colorDarkBlue:#275363 !default;

/* -------------------------------
 *  hover style
 * ---------------------------- */
// $hover-color: #999 !default;
// $hover-box-shadow: 0 0 16px rgba(0, 0, 0, 0.15) !default;