<div id="js-modalArea" class="modal-area">
  <div id="js-modalBg" class="modal-bg"></div>
  <div class="modal-container">
    <div class="iframe-inner">
      <iframe id="js-youtube" width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <button id="js-closeModal" class="modal-close">
        <span class="modal-close__icon"></span><span class="sr-only">モーダルを閉じる</span>
      </button>
    </div>
  </div>
</div>
