@use "../global" as *;

.c-btn__anchor {
  margin-top: vw(160);
  margin-bottom: vw(40);
  text-align: center;
  @include mq(xl) {
    margin-top: 160px;
    margin-bottom: 40px;
  }
  button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-color: $colorMint $colorMint transparent transparent;
    transform: rotate(-45deg);
    transition: opacity 0.2s $easeOutCirc;
    cursor: pointer;
    &:hover,
    &:active {
      opacity: 0.5;
    }
  }
}
