<div class="top-kv parallax-container" id="js-topKv" data-scroll-section>
  <div class="kv-animation js-scrollAnime" id="js-topKvAnimation">
    <!-- レイヤー1 -->
    <div class="kv-animation__layer __1">
      <span
        class="million --f-bodoniItalic js-moveLeft js-shuffleLettersInfinite2"
        >169,200,000,000</span
      >
      <span class="group --f-en js-moveRight">
        <span class="js-shuffleLettersInfiniteFast"
          >We strive to innovate the medical industry through provision of
          quality medical information for the clinical scene.
        </span>
        <span class="js-shuffleLettersInfiniteFast">
          Our services and products aim to provide our clients and members with
          never ending inspiration, exhilaration, and joy. We hope to provide
          corporate value for our investors, while inviting concordance with our
          mission to serve society.</span
        >
        <span class="js-shuffleLettersInfiniteFast">
          It is important to maintain an enriching work environment that
          promotes rewarding each team member to grow and flourish,and where one
          can share a unified purpose with the group, whether they be a
          professional in medicine, IT, communication, management, and
          others.</span
        >
        <span class="js-shuffleLettersInfiniteFast">
          Given there is a limit to what we can do as M3, we wish to continue
          collaborative efforts with like-minds to actualize advancement in the
          field of medicine.
        </span>
      </span>

      <span class="text internet --f-koburina js-moveLeft"
        ><span class="js-shuffleLettersInfinite">インターネットを活用し、</span
        ><span class="js-shuffleLettersInfinite"
          >健康で楽しく長生きする人を</span
        ><span class="js-shuffleLettersInfinite">一人でも増やし、不必要な</span
        ><span class="js-shuffleLettersInfinite"
          >医療コストを一円でも減らす事</span
        ><span class="js-shuffleLettersInfinite"
          >それがエムスリーの願いであり、</span
        ><span class="js-shuffleLettersInfinite"
          >事業の目的でもあります。</span
        ></span
      >
      <span class="real --vB-jp js-moveRight js-shuffleLetters"
        >リアルスタディ</span
      >
      <span class="tac --f-mainichi js-moveTopDelay js-shuffleLetters"
        >戦略立案</span
      >
      <span class="twenty --f-koburina6 js-moveTopDelay">
        <div class="twenty__child">
          <span class="gotham js-shuffleLetters">20</span
          ><span class="js-shuffleLetters">代の</span>
        </div>
        <span class="js-shuffleLetters">成長環境</span>
      </span>
      <span class="ai --vB js-moveLeft js-shuffleLetters">AI</span>
      <span class="global js-moveRight js-shuffleLetters">GLOBAL</span>
      <span class="task --f-koburina js-moveRight --is-sp">
        <span class="js-shuffleLettersInfiniteFast2">
          エムスリーが課題解決に挑む「医療業界の非効率」は非常に多面的です。業界は複雑かつ多様なステイクホルダーがおり、予防・検査から手術や緩和ケアなどのバリューチェーンそれぞれが我々に専門性、創造力、解決への執着を要求します。現在総勢500名以上のメンバーが経営、事業開発、事業推進、オペレーションを担い、それぞれの職域専門性や経験を活かし横断的にチームワークで推進しています。この横断チームが、メディカルプラットフォーム事業、エビデンスソリューション事業、キャリアソリューション事業、サイトソリューション事業、エマージング事業、海外事業の成長を牽引しているのです。 </span
        ><span class="js-shuffleLettersInfiniteFast2"
          >ビジネスプロデューサー（新事業立ち上げ担当）、ソフトウェアエンジニア（システム開発、データベースマネジメント）、ソリューションパートナー（製薬会社向けマーケティング戦略コンサルタント）、コンテンツプロデューサー（医療記事・情報提供）の他、経理や人事の担当も常に課題解決型の取組をしています。2017年度からは新卒採用も実施しています。多様な人材こそがエムスリーの強みの源泉です。</span
        >
      </span>
      <span class="task --f-koburina js-moveRight --is-pc">
        <span class="js-shuffleLettersInfiniteFast2">
          エムスリーが課題解決に挑む「医療業界の非効率」は非常に多面的です。業界は複雑かつ多様なステイクホルダーがおり、予防・検査から手術や緩和ケアなどのバリューチェーンそれぞれが我々に専門性、創造力、解決への執着を要求します。現在総勢500名以上のメンバーが経営、事業開発、事業推進、オペレーションを担い、それぞれの職域専門性や経験を活かし横断的にチームワークで推進しています。この横断チームが、メディカルプラットフォーム事業、エビデンスソリューション事業、キャリアソリューション事業、サイトソリューション事業、エマージング事業、海外事業の成長を牽引しているのです。ビジネスプロデューサー（新事業立ち上げ担当）、ソフトウェアエンジニア（システム開発、データベースマネジメント）、ソリューションパートナー（製薬会社向けマーケティング戦略コンサルタント）、コンテンツプロデューサー（医療記事・情報提供）の他、経理や人事の担当も常に課題解決型の取組をしています。2017年度からは新卒採用も実施しています。多様な人材こそがエムスリーの強みの源泉です。</span
        >
      </span>
      <!-- <span class="m3ism --vT --f-en js-moveLeft">
        <span class="ism js-shuffleLetters" style="font-family: Helvetica;">M3 ism</span
        ><span class="plat js-shuffleLetters"  style="font-family: Helvetica;">PLATFORM</span>
      </span> -->
			<span class="m3ism-ma">
				<div class="m3ism-ma__inner">
					<span class="ism js-moveLeft js-shuffleLetters" style="font-family: Helvetica;">M3 ism</span>
					<span class="ma js-moveTopDelay js-shuffleLetters" style="font-family: ITC;">M&A</span>
					<span class="plat js-moveLeft js-shuffleLetters" style="font-family: Helvetica;">PLATFORM</span>
				</div>
			</span>
      <span class="grow --vB-jp js-moveLeft js-shuffleLetters">成長環境</span>
      <span
        class="world --vB-jp --f-koburina js-moveBottom js-shuffleLettersFast"
        >世界のデファクトスタンダードをつくる。</span
      >
      <span class="create --vT-jp --f-mainichi js-moveLeft js-shuffleLetters"
        >創出</span
      >
      <span class="owner --vT-jp --f-koburina js-moveRight js-shuffleLetters"
        >オーナーシップ</span
      >
      <span class="value js-moveRight">
        <span class="js-shuffleLetters">VALUE</span>
        <span class="js-shuffleLetters">QUARTET</span>
      </span>
      <span class="dx --f-en js-moveBottom">
        <span class="js-shuffleLetters">医療</span
        ><span class="js-shuffleLetters">×DX</span>
      </span>
      <span class="solution js-moveRight js-shuffleLetters"
        >多彩なソリューション</span
      >
      <span class="number --f-bodoniItalic js-moveLeft js-shuffleLetters"
        >20000929</span
      >
      <span
        class="only --vB js-moveBottom"
        style="
          font-family: BodoniItalicPlus;
          font-style: italic;
          font-weight: normal;
        "
        ><span class="js-shuffleLettersInfiniteFast"
          >M3 is the only company incorporated after the year 2000 to be
          included in the Nikkei 225 Index. Its 290,000+ Japanese and six
          million+ global</span
        ><span
          class="js-shuffleLettersInfiniteFast"
          style="
            font-family: BodoniItalicPlus;
            font-style: italic;
            font-weight: normal;
          "
          >physician member panel serves as a central platform in advancing
          innovation and reform across healthcare worldwide.
        </span>
      </span>
    </div>
    <!-- レイヤー2 -->
    <div class="kv-animation__layer __2">
      <span class="metamor --vB --f-en js-moveRT js-shuffleLetters"
        >Metamorphosis</span
      >
      <span class="media --f-en js-moveLTDelay js-shuffleLetters">Media</span>
      <span class="medicine --f-en js-moveRB js-shuffleLetters">Medicine</span>
      <span class="market js-moveRB js-shuffleLetters">医療市場</span>
      <span class="casestudy --f-koburina js-moveRB js-shuffleLettersFast"
        >ケーススタディに基づく戦略立案・戦略提案だけでは、市場に求められるビジネススキルの一面しか鍛えることはできません。自らが立てた戦略を自らの手で実践し、市場及び社会にその価値を問う。あの手この手で事業を成長させ、場合によっては事業撤退の判断を自分が下す。日常的なリアルスタディは、練習だけでは絶対に得られない貴重な経験と知見を与えてくれます。</span
      >
      <span class="only-light --vB js-moveBottom js-shuffleLettersFast"
        >M3 is the only company incorporated after the year 2000 to be included
        in the Nikkei 225 Index. Its 290,000<span class="plus">&#043;</span
        >Japanese and six million<span class="plus">&#043;</span> global
        physician member panel serves as a central platform in advancing
        innovation and reform across healthcare worldwide.</span
      >
    </div>
    <!-- レイヤー3 -->
    <div class="kv-animation__layer __3">
      <span class="yakusyoku --yellow js-moveRight js-shuffleLetters"
        >役職によって意見の価値は変わらない</span
      >
      <!-- <span class="times --vB-jp js-moveLeftDelay --is-sp">
        <span class="--yellow --f-koburi js-shuffleLettersFast"
          >限られた時間のなかで、一つでも多くの医療課題に向き合い解決していく。それには日本だけでなく、世界中の医療課題も含んでいます。「より大きな仕事に挑戦したい」という方には、充分期待に応えられます。</span
        >
        <span class="--yellow --f-koburi js-shuffleLettersFast"
          >年齢や経歴は関係ありません。実績を出し、向上心を持って成長していけば、よりチャレンジングなプロジェクトが待っています。また、一人ひとりが「社長意識」を持って主体的に動くことを求められるため、仕事の幅を限定せずに働きたい方には、自分次第で成果を積み上げやすい環境です。反面、ベンチャー企業としての機動力を重視しているため、「組織の階段を昇ること」や「より多くの部下を持つこと」を求める方にとってはミスマッチとなる可能性も高いと考えています。</span
        >
        <span class="--yellow --f-koburi js-shuffleLettersFast"
          >反面、ベンチャー企業としての機動力を重視しているため、「組織の階段を昇ること」や「より多くの部下を持つこと」を求める方にとってはミスマッチとなる可能性も高いと考えています。</span
        >
      </span> -->
      <span class="times --vB-jp js-moveLeftDelay --is-pc">
        <span class="--yellow --f-koburi js-shuffleLettersInfiniteFast2"
          >限られた時間のなかで、一つでも多くの医療課題に向き合い解決していく。それには日本だけでなく、世界中の医療課題も含んでいます。「より大きな仕事に挑戦したい」という方には、充分期待に応えられます。年齢や経歴は関係ありません。実績を出し、向上心を持って成長していけば、よりチャレンジングなプロジェクトが待っています。また、一人ひとりが「社長意識」を持って主体的に動くことを求められるため、仕事の幅を限定せずに働きたい方には、自分次第で成果を積み上げやすい環境です。反面、ベンチャー企業としての機動力を重視しているため、「組織の階段を昇ること」や「より多くの部下を持つこと」を求める方にとってはミスマッチとなる可能性も高いと考えています。</span
        >
      </span>
      <span
        class="
          jinzai
          --vB-jp
          --yellow
          --f-koburina
          --b-shadow
          js-moveRT js-shuffleLetters
        "
        >トップティア人材</span
      >
      <span
        class="hero --yellow --f-koburina js-moveLTDelay js-shuffleLettersFast"
        >仕事の主人公は自分。上司でさえ、事業の最大成果を得るためのリソースに過ぎない。そんな圧倒的な当事者意識（社長意識）が、仕事の充実感を生み、自らの成長を加速させる。エムスリーでは、入社2年目でプロジェクトオーナーになることも珍しくない。上司に言われた通りやりつづけた人と、若くしてオーナーシップを発揮しビジネスの現場で決断を下しつづけた人とでは、たった1年でも圧倒的な差がつきます。</span
      >
      <span class="group __light js-moveRB">
        <span class="js-shuffleLettersFast --yellow --f-en">
          We strive to innovate the medical industry through provision of
          quality medical information for the clinical scene.
        </span>
        <span class="js-shuffleLettersFast --yellow --f-en">
          Our services and products aim to provide our clients and members with
          never ending inspiration, exhilaration, and joy.We hope to provide
          corporate value for our investors, while inviting concordance with our
          mission to serve society.
        </span>
        <span class="js-shuffleLettersFast --yellow --f-en">
          It is important to maintain an enriching work environment that
          promotes rewarding each team member to grow and flourish, and where
          one can share a unified purpose with the group, whether they be a
          professional in medicine, IT, communication, management, and others.
        </span>
        <span class="js-shuffleLettersFast --yellow --f-en">
          Given there is a limit to what we can do as M3, we wish to continue
          collaborative efforts with like-minds to actualize advancement in the
          field of medicine.
        </span>
      </span>
    </div>
    <!-- スクロール誘導テキスト（PC用） -->
		<div class="kv-scroll-vertical --pc js-scrollerPc1">scroll</div>
  </div>
  <div class="kv-title js-titleAnime">
		<h1 class="sr-only">「医療×IT」で世界を変える。</h1>
    <div class="kv-title__text c-show-box js-showBox">
      <div class="c-show-box__inner">
        <img
          class="text-kv01"
          src="<%= meta.imgPath %>text-kv1.svg"
          alt="医療×ITで"
          width="640"
          height="auto"
        />
      </div>
    </div>
    <div class="kv-title__text c-show-box js-showBox">
      <div class="c-show-box__inner">
        <img
          class="text-kv02"
          src="<%= meta.imgPath %>text-kv2.svg"
          alt="世界を変える。"
          width="640"
          height="auto"
        />
      </div>
    </div>
    <div class="kv-scroll-vertical js-scrollVertical">scroll</div>
  </div>

</div>
